<div class="chip-row" ng-repeat="row in memoryCtrl.mem.cells track by $index">
    <div class="chip-cell" ng-class="{active:memoryCtrl.isActive($index, $parent.$index)}" ng-repeat="cell in row track by $index">
        
        <div class="ccNormal" ng-hide="memoryCtrl.isActiveInput($index,$parent.$index)">
            <div class="cc-side1" ng-click="memoryCtrl.activateInput($index,$parent.$index)">
                {{memoryCtrl.getC($index,$parent.$index)}}
            </div>
            <div class="cc-side2">
                <div class="number">{{memoryCtrl.NumAt($index, $parent.$index) | ToLen:3}}</div>
            </div>
        </div>
        
        <div class="ccInput" ng-focus="memoryCtrl.isActiveInput($index,$parent.$index)" ng-show="memoryCtrl.isActiveInput($index,$parent.$index)" ng-class="{activeInput:memoryCtrl.isActiveInput($index,$parent.$index)}">
            <input type="text" class="cci-input" ng-model="chInput" />
            <div class="cci-side2">
                <div class="cci-btn" ng-click="memoryCtrl.newInput(chInput,$index,$parent.$index,0)">as int</div>
                <div class="cci-btn" ng-click="memoryCtrl.newInput(chInput,$index,$parent.$index,1)">as char</div>
            </div>
        </div>
    </div>
</div>