<div class="InterpreterControl">
    <div class="btn" ng-click="rowCtrl.clearDO()">clear debug output</div>
    <div class="togglebtn" ng-class="{clicked:!rowCtrl.isVisible('E')}" ng-click="rowCtrl.toggleLevel('E')">E</div>
    <div class="togglebtn" ng-class="{clicked:!rowCtrl.isVisible('W')}" ng-click="rowCtrl.toggleLevel('W')">W</div>
    <div class="togglebtn" ng-class="{clicked:!rowCtrl.isVisible('M')}" ng-click="rowCtrl.toggleLevel('M')">M</div>
    <div id="InterpreterOutput">
        <div class="output" ng-controller="tinyScroller as TS" ng-hide="!rowCtrl.isVisible(out[0])" ng-class="{E:out[0]=='E', W:out[0]=='W', M:out[0]=='M'}" ng-repeat="out in rowCtrl.Out.Out track by $index">
            {{out[1]}}
        </div>
    </div>
    <div class="btn" ng-click="rowCtrl.loadExample1()">Load 1</div>
    <div class="btn" ng-click="rowCtrl.loadExample2()">Load 2</div>
    <div class="btn" ng-click="rowCtrl.RUN()">RUN</div>
    <div class="btn" ng-click="rowCtrl.STOP()">STOP</div>
    <div class="btn" ng-click="rowCtrl.STEP()">STEP</div>
    <div class="in-side2">
        <div class="btn" ng-click="rowCtrl.RESET()">reset execution</div>
        <div class="btn" ng-click="rowCtrl.CLEAR()">clear memory</div>
    </div>
</div>
<div class="Console">
    <div class="out">
        Output: {{rowCtrl.cOut()}}
    </div>
    <div class="in">
        <input class="in-side1" type="text" ng-model="inputX" />
        <div class="in-side2">
            <div class="btn" ng-click="rowCtrl.consoleInput(0,inputX)">as int</div>
            <div class="btn" ng-click="rowCtrl.consoleInput(1,inputX)">as char</div>
        </div>
    </div>
</div>