<!DOCTYPE html>
<html lang="de" ng-app="MemFuckII">
    <head>
        <title>MemFuck Interpreter</title>
        <meta charset="utf-8"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <script language="javascript" type="text/javascript" src="angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="app.js"></script>
        <script language="javascript" type="text/javascript" src="MOD_TuringTape.js"></script>
        <script language="javascript" type="text/javascript" src="MOD_MemoryChip.js"></script>
        <script language="javascript" type="text/javascript" src="MOD_StackSave.js"></script>
    </head>
    <body ng-controller="panelController as pCtrl">
        <h1>MemFuck Interpreter</h1>
        <navigation>
            <div ng-click="pCtrl.setActive(1)" ng-class="{naviACT:pCtrl.isActive(1)}">Interpreter</div>
            <div ng-click="pCtrl.setActive(2)" ng-class="{naviACT:pCtrl.isActive(2)}">Command Cheatsheet</div>
        </navigation>
        <wrapperOne ng-show="pCtrl.isActive(1)">
            <wrapperTwo>
                <control-row></control-row>
                <tape-element></tape-element>
                <wrapperThree>
                    <stack-element></stack-element>
                    <chip-element></chip-element>
                </wrapperThree>
            </wrapperTwo>
            
        </wrapperOne>
        <wrapperOne ng-show="pCtrl.isActive(2)">
            <man-page></man-page>
        </wrapperOne>
        <wrapperOne ng-show="pCtrl.isActive(3)">
            <about-project></about-project>
        </wrapperOne>
        <wrapperOne ng-show="pCtrl.isActive(4)">
            <question-and-answer></question-and-answer>
        </wrapperOne>
    </body>
</html>