*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #1E1E1E;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}
h1 {
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    color: #79ABFF;
}
navigation {
    display: flex;
    justify-content: center;
    color: #79ABFF;
}
navigation div {
    border: 1px solid white;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    background-color: #2a3547;
    cursor: pointer;
}
navigation div:hover { background-color: #1e1e1e; }
navigation div:first-child { border-radius: 5px 0 0 5px; }
navigation div:last-child { border-radius: 0 5px 5px 0; }
.naviACT { background-color: #6a86b4; color: #1e1e1e; }
navigation div.naviACT:hover {
    background-color: #6a86b4;
    color: #1e1e1e;
    cursor: default;
}
wrapperOne {
    display: flex;
    flex-direction: column;
}
wrapperTwo {
    flex-grow: 1;
    display: flex;
    flex-direction:column;
}
man-page {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}
.mColor { color: #7FB347; }
.wColor { color: #FFC600; }
.eColor { color: #D25252; }

man-page table {
    flex-grow: 1;
}
th {
    color: #79ABFF;
}
td, th {
    padding: 3px;
    border: 1px solid white;
}
td.yes {
    background-color: green;
}
control-row {
    display: flex;
    flex-direction: column;
    margin: 4px;
    background-color: #d0d0d0;

}
control-row .InterpreterControl {
    display: flex;
    flex-direction: row;
    border: 2px solid #d0d0d0;
    margin: 0px;
}
.InterpreterControl .in-side2 {
    display: flex;
    flex-direction: column;
}
.InterpreterControl .in-side2 .btn {
    flex-grow: 1;
    padding: 0px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
}
.btn {
    margin: 0px;
    padding: 5px;
    padding-top: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #2a3547;
    color: #79ABFF;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}
.btn:hover {
    background-color: #1e1e1e;
}
.togglebtn {
    margin: 0px;
    padding: 5px;
    padding-top: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}
.togglebtn:nth-child(2) { background-color: #D25252; }
.togglebtn:nth-child(3) { background-color: #FFC600; }
.togglebtn:nth-child(4) { background-color: #C7DD0C; }

.togglebtn.clicked { background-color: #1e1e1e; }

.togglebtn.clicked:nth-child(2) { color: #D25252; }
.togglebtn.clicked:nth-child(3) { color: #FFC600; }
.togglebtn.clicked:nth-child(4) { color: #C7DD0C; }

#InterpreterOutput {
    flex-grow: 1;
    height: 40px;
    overflow-y: scroll;
    display: flex;
    flex-direction:column;
    background-color: #394861;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}
#InterpreterOutput .output.invisible {
    display: none;
}
#InterpreterOutput .E { color: #D25252; }
#InterpreterOutput .W { color: #FFC600; }
#InterpreterOutput .M { color: #C7DD0C; }
.Console {
    display: flex;
    border: 2px solid #d0d0d0;
    border-top: none;
}
.out {
    flex-grow: 2;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #394861;
    padding: 5px;
    padding-top: 7px;
    color: #79ABFF;
}
.in {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
}
.in input.in-side1 {
    background-color: #2a3547;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    color: #79ABFF;
    padding: 5px;
    font-size: 20px;
    width: 50px;
    text-align: center;
}
.in .in-side2 {
    text-align: right;
    display: flex;
    flex-direction: column;
}
.in .btn {
    flex-grow: 1;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
    background-color: #2a3547;
}
.in .btn:hover { background-color: #1e1e1e; }
.in .btn:first-child { color: #7FB347; }
.in .btn:last-child { color: #FFC600; }

wrapperThree {
    display: flex;
}
tape-element {
    display: flex;
    border: 2px solid #d0d0d0;
    background-color:#d0d0d0;
    padding: 0px;
    margin: 4px;
}
.tape-cell {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid #d0d0d0;
    background-color:#1e1e1e;
    border-radius: 5px;
    padding: 1px;
    padding-top: 0px;
    margin: 0px;
    height: 22px;
    font-size: 20px;
    text-align: center;
}
.tape-cell .number {
    color: #7FB347;
    flex-grow: 2;
}
.tape-cell .character {
    color: #FFC600;
    flex-grow: 1;
}
stack-element {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    border: 2px solid #d0d0d0;
    padding: 0px;
    margin: 4px;
    width: 60px;
}
.stack-cell {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    height: 22px;
    min-width: 30px;
    font-size: 20px;
    opacity: 1.0;
    transition: opacity .2s ease, background-color .3s ease-in;
}
.stack-cell .cc-side1 {
    color: #7FB347;
    flex-grow: 2;
}
.stack-cell .cc-side2 {
    color: #FFC600;
    flex-grow: 1;
}
.stack-cell.invisible {
    opacity: 0.0;
    background-color: green;
    transition: opacity 0s;
}
chip-element {
    display: flex;
    flex-grow:20;
    border: 2px solid #d0d0d0;
    background-color: #d0d0d0;
    padding: 0px;
    margin: 4px;
    flex-direction: column;
}
.chip-row {
    display: flex;
    flex-direction: row;
}
.chip-cell {
    flex-grow: 1;
    background-color:#1e1e1e;
    display: flex;
    flex-direction: row;
    border: 1px solid #d0d0d0;
    color: #d8d8d8;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    height: 22px;
    min-width: 30px;
    font-size: 20px;
}
.ccNormal {
    flex-grow: 1;
    display: flex;
}
.ccNormal .cc-side1 {
    cursor: text;
    width: 30px;
    color: #FFC600;
    text-align: center;
}
.ccNormal .cc-side1:hover {
    background-color: rgba(255,255,255,0.1);
}
.ccNormal .cc-side2 {
    flex-grow: 1;/*
    display: flex;
    flex-direction: column;*/
}
.ccInput {
    flex-grow: 1;
}
.ccInput.activeInput {
    display: flex;
    flex-direction: row;
    visibility: visible;
}
.ccInput input {
    width: 20px;
    background-color: rgba(255,255,255,0.1);
    color: #FFC600;
    border: none;
    border-bottom: 1px dashed red;
    font-size: 17px;
    text-align: center;
    margin-bottom: 2px;
}
.cci-input {
    flex-grow: 1;
}
.cci-side2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: right;
}
.cci-btn {
    flex-grow: 1;
    font-size: 10px;
    padding-right: 3px;
    padding-left: 0px;
}
.cci-btn:hover {
    background-color: green;
    cursor: pointer;
}
.chip-cell .number {
    text-align: center;
    cursor: default;
    color: #7FB347;
    font-size: 15px;
    flex-grow: 2;
}
.active {
    background-color: #394861;
}