<table>
    <tr>
        <th>Command</th>
        <th>Use Stack?</th>
        <th>Explanation</th>
    <tr>
    <tr><th colspan="3">Modify Pointers</th></tr>
    <tr>
        <td>&lt; &gt; ^ v</td>
        <td class="yes">YES</td>
        <td>Move the Instruction Pointer one cell in the given direction. When used with the stack: pop the top element 
            from the stack and move the Pointer the number as distance in the direction.</td>
    </tr>
    <tr>
        <td>{ }</td>
        <td class="yes">YES</td>
        <td>Move the Tape Reference one cell in the given direction. When used with the stack: see above.</td>
    </tr>
    <tr><th colspan="3">Stack Operations</th></tr>
    <tr>
        <td>=</td>
        <td>NO</td>
        <td>PUSH the next memory cell onto the stack. Stackoverflow after 16 elements. <span class="eColor">A stackoverflow 
            exits the programm.</span></td>
    </tr>
    <tr>
        <td>~</td>
        <td>NO</td>
        <td>POP the stack element in the next memory cell. <span class="wColor">A stackunderflow returns 0</span></td>
    </tr>
    <tr><th colspan="3">Tape Operations</th></tr>
    <tr>
        <td>+ -</td>
        <td class="yes">YES</td>
        <td>Modify the value of the current tape cell (Increment & Decrement / with stack as input: Add & Subtract)</td>
    </tr>
    <tr>
        <td>.</td>
        <td>NO</td>
        <td>POP the stack element into the current tape cell. Overrides old values.</td>
    </tr>
    <tr>
        <td>,</td>
        <td>NO</td>
        <td>Save the value of the next memory cell into the current tape cell. Overrides old values.</td>
    </tr>
    <tr>
        <td>#</td>
        <td>NO</td>
        <td>Gets the value of the current tape cell into the next memory cell. Overrides old values.</td>
    </tr>
    <tr>
        <td>!</td>
        <td>NO</td>
        <td>Executes the current tape element as command. <span class="eColor">The !-command, executed from the tape 
            itself, exits the programm with an error.</span></td>
    </tr>
    <tr><th colspan="3">Input & Output</th></tr>
    <tr>
        <td>;</td>
        <td>NO</td>
        <td>Reads one byte from the Keyboard into the current tape cell. (Note for this Interpreter: the inputfield is on 
            the right of the Output. "as int" gives the number to the tape, "as char" gives the ASCII value to the tape.</td>
    </tr>
    <tr>
        <td>"</td>
        <td class="yes">YES</td>
        <td>Prints the next memory cell (use stack: stack element) as ASCII character.</td>
    </tr>
    <tr><th colspan="3">Structures</th></tr>
    <tr>
        <td>[ ]</td>
        <td class="yes">YES</td>
        <td>Loop: "do-while" loop for MemFuck. Is the current Tape cell (use stack: stack element) at ']' not null, 
            the interpreter jumps to the corresponding '['. <span class="wColor">Mismatching ']' will be ignored.</span> Attention: This will not change 
            the direction of the execution! (A little bit like 'conditonal portals')</td>
    </tr>
    <tr>
        <td>|</td>
        <td class="yes">YES</td>
        <td>Absolute jump: Jumps to the coordinate [current Tape cell % 16 | Tape cell to the right % 16]. Does not modify 
            the Tape Reference. If used with Stack: pops() two stack elements and jumps to 
            [first pop() % 16 | second pop() % 16]</td>
    </tr>
    </tr>
        <td>/</td>
        <td class="yes">YES</td>
        <td>if-Statement: if the current Tape cell is not equal to 0, the direction of the Instruction Pointer will not change. 
            If the current Tape cell is equal to 0, the direction of the Instruction Pointer will change clock-wise. 
            When used with the stack: tests against the next stack value</td>
    </tr>
    <tr>
        <td>?</td>
        <td>NO</td>
        <td>Use stack as Input for the next command. <span class="wColor">Will be ignored, when the next command can't use 
            the stack as input.</span> Every valid usage pops the current stack element.</td>
    </tr>
    <tr>
        <td>*</td>
        <td>NO</td>
        <td>No Operation</td>
    </tr>
    <tr>
        <td>0</td>
        <td>NO</td>
        <td><span class="mColor">end of programm</span></td>
    </tr>
</table>