<div class="stack-cell" ng-class="{invisible:!stackCtrl.isVisible($index)}" ng-repeat="cell in stackCtrl.stk.cell track by $index">
    <div class="cc-side1">
        {{stackCtrl.getNum($index) | ToLen:3}}
    </div>
    <div class="cc-side2">
        '{{stackCtrl.getC($index)}}'
    </div>
</div>