<div ng-repeat="numberX in tapeCtrl.arr.arrCell track by $index" ng-class="{active:tapeCtrl.isActive($index)}" class="tape-cell">
    <div class="number">{{tapeCtrl.getNum($index) | ToLen:3}}</div>
    <div class="character">'{{tapeCtrl.getC($index)}}'</div>
</div>